annotated-types==0.7.0
anyio==4.6.2.post1
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560622100/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
click==8.1.7
exceptiongroup==1.2.2
fastapi==0.115.5
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1725379817850/work
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1729351343187/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1724748654864/work/dist/numpy-2.0.2-cp39-cp39-macosx_11_0_arm64.whl#sha256=ae17bc06f47ea855f639fd3d8272472868244d270406268d03f291486d9e99fe
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1729065742992/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic==2.9.2
pydantic_core==2.23.4
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1725456248054/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
sniffio==1.3.1
starlette==0.41.3
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1728484478345/work
torch==2.5.1
torchvision==0.20.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
uvicorn==0.32.0
zstandard==0.23.0
